<!DOCTYPE html>
<html>
  <head>
    <title>ProdaFlow | Coming Soon</title>
    <style>
      body {
        background-color: #34a2e8;
        color: white;
      }

      #logo {
        display: block;
        margin: auto;
        transform:scale(0.3);
        -webkit-transform:scale(0.3);
      }
    </style>
  </head>
  <body>
    <div>
      <img id="logo" src="/logo.svg" alt="Prodaflow">
    </div>
  </body>
</html>
