@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald);

$primary-color: #34a2e8;
$primary-font-color: #ffffff;
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

body {
  background-color: $primary-color;
  color: $primary-font-color;
  font-family: $open-sans;
}

section {
  @include outer-container(500px);
}
